swagger: '2.0'
info:
  title: Sample disk owner community app
  description: This is a sample disk owner community server.
  contact:
    name: API Support
    email: treushnikovmv@ya.ru
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  version: '1.0'
host: archive.diskcommun.ru
basePath: /v1
tags:
  - name: disks
    description: Any list of disks
schemes:
  - http
paths:
  /disks:
    get:
      tags:
        - disks
      summary: List of disks
      description: Returns a list of disks
      produces:
        - application/json
      parameters:
        - in: query
          name: user_id
          description: ID of user to return
          required: false
          type: integer
          format: int64
        - in: query
          name: is_free
          description: Type of disk status to return
          required: false
          type: boolean
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Disks'
        default:
          description: error
          schema:
            $ref: '#/definitions/Error'
      security:
        - api_key: []
securityDefinitions:
  disk_auth:
    type: oauth2
    authorizationUrl: archive.diskcommun.ru/oauth/dialog
    flow: implicit
    scopes:
      'read:disks': read info about disks
  api_key:
    type: apiKey
    name: api_key
    in: header
definitions:
  Disk:
    type: object
    properties:
      id:
        type: integer
        format: int64
      caption:
        type: string
      owner:
        type: string
      holder:
        type: string
    xml:
      name: Disk
  Disks:
    type: array
    xml:
      name: disks
      wrapped: true
    items:
      $ref: '#/definitions/Disk'
  Error:
    type: object
    properties:
      message:
        type: string
